body {
    background: lightblue;
}

h1 {
    text-align: center;
    color: white;
}

div.playerForm {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

div.game {
    display: block;
    text-align: center;
}

div.match {
    display: block;
    text-align: center;
}

div.winner {
    display: block;
    text-align: center;
}