<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW6</title>
</head>
<body>
    <h1>New Earthquake data has been added!</h1>
    <a href="/goHome"> View Quake Data</a>
</body>
</html>